.relative{
    position: relative;
    background-color: black;
    height: 400px;
    width: 400px;
    top: 30px;
    left: 200px;
}

#tv{
    position: absolute;
    height: 30px;
    width: 100px;
    left: 150px;
    background-color: yellow;
    top: 10px;
    text-align: center;
}
#sofa{
    position: absolute;
    height: 50px;
    width: 200px;
    left: 100px;
    background-color: red;
    top: 100px;
    text-align: center;
}

#fridge{
    
}