.linear{
    height: 400px;
    background: linear-gradient(orange,white,green);
    /* we are use multiple color in this property */
}
.heading1{
    text-align: center;
    color: rgb(4, 4, 4);
    padding-top: 10px;
}

.radial{
    height: 400px;
    background: radial-gradient( orange,white,green);
    border-radius: 50%;
    
}

.conical{
    height: 200px;
    background: conic-gradient(from 90deg,orange,white,green);
    border: 2px solid black;
}