/* Mobile first,we start from the smallest viewport width */
@media (min-width:320px) and (max-width:767px){
    body{
        font-size: 20px;
        background-color: red;
    }
    p{
        display: none;
        /* This tag will not see in this viewport */
    }

    h1,h3{
        color: white;
    }
    .img-1{
        display: none;
    }
}

/* from 768px and up */
@media (min-width:768px){
    body{
        background-color: green;
    }
}

/* from 1024px and up */
@media (min-width:1024px){
    body{
        background-color: yellow;
    }
}

/* From 1224px and up */
@media (min-width:1224px){
    body{
        background-color: orange;
    }
}

/* From 1824px and up */
@media (min-width:1824px){
    body{
        background-color: aqua;
    }
}