ul{
    width: 200px;
    padding: 10px;
    list-style: none;
    font-weight: 900;
}
li{
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 10px;
}

li:nth-child(odd){
     background: aqua;
}

li:nth-child(even){
    background-color: blueviolet;
    color: white;
}
 li:last-child{
    background-color: green;
}

li:nth-child(3){
    background-color: orange;
}


