h1{
    color: red;
}

h1:hover{
    background-color: yellow;
    color: black;
    font-size: 50px;
}
input:focus{
    background-color: yellow;
    color: blueviolet;
}

a:visited{
    color: rgb(207, 2, 2);

}
/* if we are visited then above properties are apply on the anchor tag */

p::first-letter{
    font-size: 30px;
    color: brown;
}

p::first-line{
    color: rgb(8, 30, 229);
}

h2::selection{
    color: yellow;
    background-color: black;
}
/* When we select the above properties are apply on them */