.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    color: white;
    
}
.box{
    background-color: blueviolet;
    border: 2px solid black;
    height: 200px;
    width: 200px;   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: transform 5s ease ;
}

.box1:hover{
    transform: translate(125px,125px);
}
.box2:hover{
    transform: translateX(250px);
}
.box3:hover{
    transform: translateY(250px);
}

.box4:hover{
    transform: rotate(720deg);
    /* 180 deg complete one rotation */
}

.box5:hover{
    transform: skewX(240deg);
}

.box6:hover{
    transform:skewY(240deg)
}

.box7:hover{
    transform: skew(240deg,240deg);
}

.box8:hover{
    transform:scale(1.5);
}

.box9:hover{
    transform: scale(3) translate(150px) rotate(90deg);
}

.img-wrapper{
    width: 300px;
    height: 400px;
    border: 2px solid red;
    position: relative;
    overflow: hidden;
    /* Due to this property the image will be zoom out under the border */
}

.inner-img{
    height: 100%;
    width: 100%;
    transition: 3s;

}

.inner-img:hover{
    transform: scale(1.5);
}

.container{
    display: flex;
    flex-wrap: wrap;
}

